.button {
    color: #FAF4EA;
    background-color: #819B57;
    border: 2px solid #819B57;
    border-radius: 8px;
    padding: 16px 32px;
}

.button:hover {
    color: #465929;
    background-color: transparent;
    cursor: pointer;
}