.mobile-menu {
    position: fixed;
    padding: 24px 16px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-light);
    transform: translateX(100%);
    transition: transform 0.3s;

    &.is-open {
        transform: translateX(0);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__btn-close {
        top: 16px;
        right: 24px;
        padding: 6px;
        border: none;
        cursor: pointer;
    }

    &__icon-close {
        width: 12px;
        height: 12px;
        fill: none;
        stroke: var(--color-primary-dark);
    }

    &__logo {
        min-width: 72px;
        width: 100%;
        height: 100%;
    }

    &__menu {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 16px
    }

    &__link {
        color: var(--color-primary-dark);
    }
}