.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-light);
    transform: translateX(100%);
    transition: transform 0.3s;

    &.is-open {
        transform: translateX(0);
    }

    &__btn-close {
        position: absolute;
        top: 16px;
        right: 24px;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    &__icon-close{
        width: 12px;
        height: 12px;
        fill: none;
        stroke: var(--color-primary-dark);
    }
}